.notValid {
  font-size: small;
  color: red;
  background: white;
  margin-top: -49px;
  padding: 5px;
  border-radius: 5px;
}

.tableWrapper {
  height: inherit;
  overflow: scroll;
}

.speedInput {
  position: sticky;
  opacity: 0.97;
  margin-top: -30px;
}

.btn {
  text-decoration: none;
  color: rgb(41, 41, 41);
  margin: 0 0.1rem
}

.editInput {
  height: 1.5rem;
  text-align: center;
}
